@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
    contain-intrinsic-size: 1px 800px; /* Estimates section height to prevent scrollbar jumping */
  }
}
